body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.visualli-hiden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.list__item {
  position: relative;
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  width: 354px;
}
@media screen and (max-width: 767px) {
  .list__item {
    width: 450px;
  }
  .list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .list__item {
    width: 270px;
  }
}
.list__item--address {
  position: relative;
  background-color: #2F303A;
}

.list .nav__list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 0;
}

.list .nav__list--left {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 0;
}

.title {
  margin: 0 0 30px 0;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}

.header {
  position: fixed;
  width: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-bottom: 1px solid #ECECEC;
  background-color: #ffffff;
  z-index: 99;
  min-width: 480px;
  margin: 0 auto;
}
@media screen and (width: 768px) {
  .header {
    min-width: 768px;
  }
}
.header__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__social {
  display: inline;
}
@media screen and (min-width: 768px) {
  .header__social {
    display: none;
  }
}
.header__social .social {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #2196F3;
}
@media screen and (max-width: 767px) {
  .logo {
    padding: 16px 0;
  }
}
@media screen and (min-width: 768px) {
  .logo {
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
    margin-right: 93px;
  }
}
.logo__roof {
  color: #000000;
}
.logo__basement {
  color: #ffffff;
}

.current::after {
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  display: inline;
  height: 4px;
  border-radius: 2px;
  content: "";
  background-color: #2196F3;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .current::after {
    display: none;
  }
}
.list .nav__link .current::after {
  color: #2196F3;
}

.mobile__button {
  position: absolute;
  top: 10px;
  right: 15px;
  display: inline-block;
  border: none;
  padding: 0;
  background-color: transparent;
  z-index: 50;
}
.mobile__button .icon__cross {
  display: none;
}
.mobile__button.is-open .icon__cross {
  display: block;
}
.mobile__button.is-open .icon__menu {
  display: none;
}
.mobile__button:hover, .mobile__button:focus {
  fill: #2196F3;
}
@media screen and (min-width: 768px) {
  .mobile__button {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
}
.header__menu.is-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .header__menu.is-open {
    display: inline-block;
  }
}
@media screen and (max-width: 767px) {
  .header__menu {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 0;
    width: 100%;
    height: 100vh;
    background-color: #FFFFFF;
    padding: 48px 40px;
    -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    -webkit-transform: translateY(-101%);
            transform: translateY(-101%);
    -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header__menu.is-open {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (min-width: 768px) {
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 50px;
  }
}
@media screen and (max-width: 767px) {
  .nav__item:not(:last-child) {
    margin-bottom: 32px;
  }
}
.nav__link {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #212121;
}
@media screen and (min-width: 768px) {
  .nav__link {
    padding: 32px 0;
  }
}
@media screen and (max-width: 767px) {
  .nav__link {
    font-size: 40px;
    line-height: 1.18;
  }
}
.nav__link:hover, .nav__link:focus {
  color: #2196F3;
}

.nav__list--contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .nav__list--contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
@media screen and (max-width: 767px) {
  .nav__list--contact {
    display: none;
    display: inline-block;
    margin-left: 0;
    margin-top: 302px;
    margin-bottom: 64px;
  }
}
@media screen and (max-width: 767px) {
  .nav__list--contact .nav__item--contact:not(:last-child) {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .nav__list--contact .nav__item--contact:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .nav__list--contact .nav__item--contact:not(:last-child) {
    margin-right: 50px;
  }
}
.nav__list--contact .nav__link--contact {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
}
.nav__list--contact .nav__link--contact:hover, .nav__list--contact .nav__link--contact:focus {
  color: #2196F3;
}
@media screen and (max-width: 767px) {
  .nav__list--contact .nav__link--contact {
    display: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 24px;
    line-height: 1.17;
  }
  .nav__list--contact .nav__link--contact:hover, .nav__list--contact .nav__link--contact:focus {
    font-size: 34px;
    line-height: 1.18;
  }
}
.nav__list--contact .nav__icon {
  margin-right: 10px;
  fill: currentColor;
}
@media screen and (max-width: 767px) {
  .nav__list--contact .nav__icon {
    display: none;
  }
}

.main {
  padding-top: 61px;
}
@media screen and (min-width: 768px) {
  .main {
    padding-top: 80px;
  }
}

.hiro {
  min-width: 480px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  background-color: #C4C4C4;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (min-width: 480px) {
  .hiro {
    background-size: cover;
  }
}
@media screen and (max-width: 767px) {
  .hiro {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../images/hiro/logo-mobile-480.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hiro/logo-mobile-480.jpg);
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hiro {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../images/hiro/logo-mobile-480@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hiro/logo-mobile-480@2x.jpg);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hiro {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../images/hiro/logo-tablet-768.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hiro/logo-tablet-768.jpg);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .hiro {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../images/hiro/logo-tablet-768@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hiro/logo-tablet-768@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hiro {
    padding-top: 200px;
    padding-bottom: 280px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../images/hiro/logo-desktop-1600.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hiro/logo-desktop-1600.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hiro {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../images/hiro/logo-desktop-1600@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hiro/logo-desktop-1600@2x.jpg);
  }
}
.hiro__title {
  margin: 0 auto;
  text-transform: uppercase;
  max-width: 360px;
  text-align: center;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .hiro__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 60px;
  }
}

.button__filter, .button--modal, .button--submit, .button--hiro {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  background-color: #2196F3;
  border-radius: 4px;
  border: inherit;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button__filter:hover, .button--modal:hover, .button--submit:hover, .button--hiro:hover, .button__filter:focus, .button--modal:focus, .button--submit:focus, .button--hiro:focus {
  background-color: #188CE8;
}

.button--hiro {
  display: inline-block;
  text-align: center;
  border-color: transparent;
  min-width: 216px;
  margin-top: 30px;
  padding: 10px 32px;
}

.button__filter, .button--modal, .button--submit, .button--hiro {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  background-color: #2196F3;
  border-radius: 4px;
  border: inherit;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button__filter:hover, .button--modal:hover, .button--submit:hover, .button--hiro:hover, .button__filter:focus, .button--modal:focus, .button--submit:focus, .button--hiro:focus {
  background-color: #188CE8;
}

.features {
  padding-top: 60px;
  padding-bottom: 60px;
  min-width: 480px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .features__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .features__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    gap: 30px;
  }
}
.features__subtitle {
  margin-top: 0px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .features__subtitle {
    text-align: start;
  }
}
.features__text {
  margin: 0px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
.features__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  height: 120px;
  background-color: #F5F4FA;
}

.work {
  padding-bottom: 94px;
}
@media screen and (max-width: 1199px) {
  .work {
    display: none;
  }
}
@media screen and (max-width: 1199px) {
  .work {
    display: none;
  }
}
.work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  padding: 0;
}
.work__thumb {
  position: relative;
  width: 370px;
  height: 294px;
}
.work__text {
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: 27px 0 27px 0;
  display: block;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #F5F4FA;
  min-width: 480px;
  margin: 0 auto;
}
.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
.team__image {
  width: 354px;
  height: 374px;
}
@media screen and (max-width: 767px) {
  .team__image {
    width: 450px;
    height: 460px;
  }
}
@media screen and (min-width: 1200px) {
  .team__image {
    width: 270px;
    height: 260px;
  }
}
.team__card {
  padding-top: 30px;
  padding-bottom: 24px;
}
.team__subtitle {
  margin: 0px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  font-weight: 500;
  color: #212121;
}
.team__text {
  margin: 0px;
  margin-bottom: 16px;
  text-align: center;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #757575;
}

.card {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.button__filter, .button--modal, .button--submit, .button--hiro {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  background-color: #2196F3;
  border-radius: 4px;
  border: inherit;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button__filter:hover, .button--modal:hover, .button--submit:hover, .button--hiro:hover, .button__filter:focus, .button--modal:focus, .button--submit:focus, .button--hiro:focus {
  background-color: #188CE8;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 10px;
}
.social__linc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social--light {
  color: #ffffff;
  fill: #AFB1B8;
}
.social--light:hover, .social--light:focus {
  background-color: #2196F3;
  fill: currentColor;
}
.social--dark {
  background-color: rgba(255, 255, 255, 0.1019607843);
  fill: #ffffff;
}
.social--dark:hover, .social--dark:focus {
  background-color: #2196F3;
  color: currentColor;
}

.social__item--menu {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196F3;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
}

.button__filter, .button--modal, .button--submit, .button--hiro {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  background-color: #2196F3;
  border-radius: 4px;
  border: inherit;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button__filter:hover, .button--modal:hover, .button--submit:hover, .button--hiro:hover, .button__filter:focus, .button--modal:focus, .button--submit:focus, .button--hiro:focus {
  background-color: #188CE8;
}

.customers {
  padding-top: 60px;
  padding-bottom: 60px;
  min-width: 480px;
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  .customers {
    min-width: 480px;
    margin: 0 auto;
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.customers__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 450px;
  gap: 30px;
  padding: 0px;
}
@media screen and (min-width: 768px) {
  .customers__list {
    width: 738px;
  }
}
@media screen and (min-width: 1200px) {
  .customers__list {
    width: 1170px;
  }
}
.customers__linc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  width: 210px;
  height: 92px;
  color: #AFB1B8;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers__linc:hover, .customers__linc:focus {
  color: #188CE8;
  border: 1px solid #188CE8;
}
@media screen and (min-width: 768px) {
  .customers__linc {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .customers__linc {
    width: 170px;
  }
}
.customers__icon {
  display: block;
  fill: currentColor;
}

.button__filter, .button--modal, .button--submit, .button--hiro {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  background-color: #2196F3;
  border-radius: 4px;
  border: inherit;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button__filter:hover, .button--modal:hover, .button--submit:hover, .button--hiro:hover, .button__filter:focus, .button--modal:focus, .button--submit:focus, .button--hiro:focus {
  background-color: #188CE8;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  min-width: 480px;
  margin: 0 auto;
  background: #2F303A;
}
@media screen and (min-width: 768px) {
  .footer {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    width: 1200px;
  }
}
.footer__contacts {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer__contacts {
    text-align: start;
  }
}
.footer__title {
  margin-top: 0px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .footer__title {
    text-align: start;
  }
}
@media screen and (min-width: 768px) {
  .footer__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}
@media screen and (min-width: 1200px) {
  .footer__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.footer .address {
  display: block;
  font-style: normal;
  margin-top: 20px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.footer__social {
  margin-top: 60px;
}
@media screen and (min-width: 1200px) {
  .footer__social {
    margin-top: 0;
  }
}
.footer__form {
  margin-top: 60px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__form {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
@media screen and (min-width: 1200px) {
  .footer__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-top: 0px;
  }
}

.address__geo--link {
  color: #ffffff;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__geo--link:hover, .address__geo--link:focus {
  color: #2196F3;
}

.address__mail--link,
.address__tel--link {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__mail--link:hover, .address__mail--link:focus,
.address__tel--link:hover,
.address__tel--link:focus {
  color: #2196F3;
}

.address--contact {
  margin-top: 8px;
}

.footer__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .footer__label {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.footer__label:hover .footer__input, .footer__label:focus-within .footer__input {
  border-color: #2196F3;
}
.footer__label .footer__input:hover::-webkit-input-placeholder {
  color: #2196F3;
}
.footer__label .footer__input:hover::-moz-placeholder {
  color: #2196F3;
}
.footer__label .footer__input:hover:-ms-input-placeholder {
  color: #2196F3;
}
.footer__label .footer__input:hover::-ms-input-placeholder {
  color: #2196F3;
}
.footer__label .footer__input:hover::placeholder {
  color: #2196F3;
}

.footer__input {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 450px;
  background-color: #2F303A;
  padding: 15px 16px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25px;
  letter-spacing: 0.03em;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .footer__input {
    width: 358px;
    margin-right: 10px;
    margin-bottom: 0;
  }
}
.footer__input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__input::-moz-placeholder {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  -moz-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  -ms-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  -ms-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__input::placeholder {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button__filter, .button--modal, .button--submit, .button--hiro {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  background-color: #2196F3;
  border-radius: 4px;
  border: inherit;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button__filter:hover, .button--modal:hover, .button--submit:hover, .button--hiro:hover, .button__filter:focus, .button--modal:focus, .button--submit:focus, .button--hiro:focus {
  background-color: #188CE8;
}

.button--submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  min-width: 200px;
  height: 50px;
  padding: 10px 28px;
  border: inherit;
}
@media screen and (min-width: 768px) {
  .button--submit {
    margin-top: 0;
  }
}

.button__icon--end {
  background-color: transparent;
  margin-left: 10px;
}

.backdroup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdroup.is-hidden {
  visibility: visible;
  opacity: 0;
  pointer-events: none;
}
.backdroup.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.1) rotateZ(180deg);
          transform: translate(-50%, -50%) scale(1.1) rotateZ(180deg);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  border-radius: 4px;
  width: 450px;
  height: 609px;
  padding: 40px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) scale 250ms cubic-bezier(0.4, 0, 0.2, 1) transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) scale 250ms cubic-bezier(0.4, 0, 0.2, 1) transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) scale 250ms cubic-bezier(0.4, 0, 0.2, 1) transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) scale 250ms cubic-bezier(0.4, 0, 0.2, 1) transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) scale 250ms cubic-bezier(0.4, 0, 0.2, 1) transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
    padding: 40px;
  }
}

.modal__form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 609px;
}
@media screen and (min-width: 1200px) {
  .modal__form {
    height: 581px;
  }
}

.modal__title {
  display: block;
  text-align: center;
  padding: 0 auto;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5px;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal__label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__label:focus-within, .modal__label:hover {
  color: #2196F3;
}
.modal__label:nth-child(5) {
  margin-bottom: 20px;
}

.modal__input {
  margin-top: 4px;
  padding: 0 0 0 42px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__label:focus-within .modal__input, .modal__label:hover .modal__input {
  border-color: #2196F3;
}

.modal__icon--start {
  position: absolute;
  left: 12px;
  bottom: 11px;
  cursor: pointer;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:focus-within + .modal__icon--start, .modal__input:hover + .modal__icon--start, .modal__icon--start:hover, .modal__icon--start:focus-within {
  fill: #2196F3;
}

.feedback {
  height: 120px;
  padding: 12px 16px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__label:focus-within .feedback, .modal__label:hover .feedback {
  border-color: #2196F3;
}
.feedback::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.feedback::-moz-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.feedback:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.feedback::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.feedback::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.user__contract {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.03em;
  color: #757575;
}
@media screen and (min-width: 1200px) {
  .user__contract {
    font-size: 14px;
    line-height: 24px;
  }
}

.contract {
  position: relative;
  margin-left: 5px;
  color: #2196F3;
}
.contract::after {
  position: absolute;
  bottom: 0px;
  left: 0;
  display: inline;
  width: 100%;
  height: 1px;
  border-radius: 1px;
  content: "";
  background-color: #2196F3;
}
@media screen and (min-width: 1200px) {
  .contract::after {
    bottom: 5px;
  }
}

.checkbox {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}
.checkbox__icon {
  margin-right: 8px;
  width: 16px;
  height: 15px;
  background-color: #ffffff;
  border: solid 2px #000000;
  border-radius: 2px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .checkbox__icon {
  background-color: #2196F3;
  border-color: #2196F3;
}

.button__filter, .button--modal, .button--hiro, .button--submit {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  background-color: #2196F3;
  border-radius: 4px;
  border: inherit;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button__filter:hover, .button--modal:hover, .button--hiro:hover, .button--submit:hover, .button__filter:focus, .button--modal:focus, .button--hiro:focus, .button--submit:focus {
  background-color: #188CE8;
}

.button--modal {
  display: inline-block;
  padding: 10px 52px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
.button--modal:hover, .button--modal:focus {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button__filter, .button--hiro, .button--submit, .button--modal {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  background-color: #2196F3;
  border-radius: 4px;
  border: inherit;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button__filter:hover, .button--hiro:hover, .button--submit:hover, .button--modal:hover, .button__filter:focus, .button--hiro:focus, .button--submit:focus, .button--modal:focus {
  background-color: #188CE8;
}

.button__icon--center {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-perspective: 800px;
          perspective: 800px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  -webkit-transform: rotateZ(0deg);
          transform: rotateZ(0deg);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button__icon--center:hover, .button__icon--center:focus {
  -webkit-transform: rotateZ(90deg);
          transform: rotateZ(90deg);
  fill: #2196F3;
}

.button__filter, .button--hiro, .button--submit, .button--modal {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  background-color: #2196F3;
  border-radius: 4px;
  border: inherit;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button__filter:hover, .button--hiro:hover, .button--submit:hover, .button--modal:hover, .button__filter:focus, .button--hiro:focus, .button--submit:focus, .button--modal:focus {
  background-color: #188CE8;
}

.filter {
  padding-top: 94px;
  padding-bottom: 94px;
  min-width: 480px;
}
@media screen and (min-width: 768px) {
  .filter {
    width: 768px;
  }
}
@media screen and (max-width: 1199px) {
  .filter {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .filter {
    width: 1200px;
  }
}
.filter__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
  gap: 15px 8px;
}
@media screen and (max-width: 767px) {
  .filter__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 767px) {
  .filter__item:nth-child(3) {
    margin-right: auto;
    width: 30%;
  }
}

.button__filter, .button--hiro, .button--submit, .button--modal {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  background-color: #2196F3;
  border-radius: 4px;
  border: inherit;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button__filter:hover, .button--hiro:hover, .button--submit:hover, .button--modal:hover, .button__filter:focus, .button--hiro:focus, .button--submit:focus, .button--modal:focus {
  background-color: #188CE8;
}

.button__filter {
  min-width: 68px;
  text-align: center;
  padding: 6px 22px;
  border-radius: 4px;
  border: 1px solid transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #F5F4FA;
  font-family: inherit;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button__filter:hover, .button__filter:focus {
  color: #ffffff;
  background-color: #2196F3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.examples__list {
  margin: 0;
  padding: 0;
}

.examples__item {
  width: 450px;
  height: 404px;
  margin-bottom: 30px;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.examples__item:hover, .examples__item:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.examples__item:hover .thumb__overlai, .examples__item:focus-within .thumb__overlai {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.examples__link:hover,
.examples__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.thumb {
  position: relative;
  overflow: hidden;
}
.thumb__overlai {
  position: absolute;
  display: block;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  margin: 0;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.thumb__title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.thumb__text {
  margin: 0;
  padding: 0;
  margin-top: 4px;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: #757575;
}
.thumb__item {
  padding: 24px 20px;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
}
.thumb__image {
  display: block;
  width: 450px;
  height: 294px;
}/*# sourceMappingURL=main.css.map */