
@import '../utils/allButton';

.button--submit {
    @extend %button;
    // @include Flexe ($type: flex, $axis: center, $transverse: center);

    display: flex;
    align-items: center;
    text-align: center;

    margin-right: auto;
    margin-left: auto;
    
    height: 50px;
    padding: 10px 28px;
    
    border: inherit;
}
.button__icon--end {
    background-color:transparent;
    margin-left: 10px;
}