@import '../utils/allButton';
.footer {
    padding-top: 60px;
    padding-bottom: 60px;

    min-width: 480px;

    background: $secondariBackgroundColor;
    .footer__item
    {
        @media screen and (min-width:768px) {
            display: flex;
            flex-wrap: wrap;
            align-items: baseline;
            justify-content: space-evenly;
            margin: 0;
            padding: 0;
        }
        
        @media screen and (min-width:1200px) {
            display: flex;
            flex-wrap: nowrap;
            align-items: baseline;
        }
    }
   
    &__contacts {

        text-align: center;

        @media screen and (min-width: 1200px) {
            text-align: start;
        }
    }

    &__title {
        margin-top: 0px;
        margin-bottom: 20px;

        text-align: center;
        text-transform: uppercase;

        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        color: $primariBackgroundColor;

        @media screen and (min-width: 1200px) {
            text-align: start;
            }
    }

    .address {
        display: block;
        font-style: normal;
        margin-top: 20px;
    
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
    }

    &__social {

        margin-top: 60px;
            
        @media screen and (min-width: 768px) {
            margin-top:0;
            margin-left: 165px;
            flex-grow: 1;

        }
        @media screen and (min-width: 1200px) {
            
            margin-left: 70px;
        }          
    }

    &__form {
            margin-top: 60px;

        @media screen and (min-width: 768px) and (max-width: 1199px){
            flex-grow: 1;
        }
        @media screen and (min-width: 1200px) {
            display: flex;
            align-items: flex-end;
            margin-top: 0px;
            margin-left: 93px;
        }
    }
}